* {
    margin: 0;
    padding: 0;
}

/*========FONTS=========*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');



body {
    width: 1020px;
    margin: auto;
    color: white;
    font-family: 'Lato', 'Arial Narrow', sans-serif;
}

header {
    width: 100%;
    height: 63px;
    background-color: #323232;
    position: relative;
}

header::after {
    content: "";
    width: 0;
	height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 27px solid #323232;
    position: absolute;
    left: 45.2%;
    bottom: 0;
    top: 63px;
}

/*========NAVIGATION=========*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5px;
    padding-left: 5px;

}

nav > a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 11px;
    font-size: 10px;
}
nav > a.active {
    color: #2eb398;
}

.dot {
    width: 2px;
    height: 2px;
    background-color: #484c5f;
    padding: 0;
    margin-top: 2px;
}

nav > a:hover {
    text-decoration: none;
    color: #2eb398;
}

.logo {
    margin-top: 5px;
    padding-right: 28px;
    padding-left: 26px;
}

/*========SLIDER WITH HEXAGONS=========*/

.row-first {
    display: flex;
    justify-content: center;
}

.row-second,
.row-third  {
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

.hexagon {
    width: 180px; 
    height: 210px;
    margin: 10px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}
  
.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;

}

/* hexagon pictures */

.pic-1 {
    background-image: url("../assets/image/pic1.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.pic-2 {
    background-image: url("../assets/image/pic2.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.pic-3 {
    background-image: url("../assets/image/pic3.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.pic-4 {
    background-image: url("../assets/image/pic4.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-5 {
    background-image: url("../assets/image/pic5.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-6 {
    background-image: url("../assets/image/pic6.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-7 {
    background-image: url("../assets/image/pic7.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-8 {
    background-image: url("../assets/image/pic8.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-9 {
    background-image: url("../assets/image/pic9.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-10 {
    background-image: url("../assets/image/pic10.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-11 {
    background-image: url("../assets/image/pic11.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-12 {
    background-image: url("../assets/image/pic12.png");
    background-repeat: no-repeat;
    background-position: 50%;
}
.pic-13 {
    background-image: url("../assets/image/pic13.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

/*========SECTION ABOUT=========*/

.about {
    background-color: #2eb398;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    height: 315px;
    margin: 13px 100px;

}

.photo {
    margin: 0px 10px;
} 
   
.photo-img {
    background-image: url("../assets/image/Smith_Andersen_photo.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.info {
    margin-right: 10px;
}

h2 {
    font-family: 'Maven Pro', 'Arial Narrow', sans-serif;
    font-size: 30px;
    color: #d7fcf5;
    font-weight: 400;
}

.subtitle {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: #20816d;
    padding-bottom: 13px;
    
}

.info-text {
    color: #d7fcf5;
    font-family: 'Lato', 'Arial Narrow', sans-serif;
    font-size: 12px;
    line-height: 1.8;
    text-align: justify;
}
.social-buttons {
    float: right;
    padding-top: 30px;
}

.social-buttons > li {
    display: inline-block;
    justify-content: end;

}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2eb398;
    width: 30px;
    height: 30px;
    background-color: #abddd7;
}

/*========GET IN TOUCH=========*/

.get-in-touch {
    background-color: #323232;
    min-height: calc(605px - 40px);
}
.container {
    padding: 60px 120px;
    color: white;
}
.container > h2 {
    color: white;
}


.contacts-subtitle {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: white;
    margin: -1px 0 19px 0px;
}

.contacts-container {
    display: flex;

}

/* Contact form */

form {
    width: 625px;
}

fieldset {
    border: none;
}

input, textarea {
    background-color: #454545;
    border: none;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    color: #bebebe;
    padding: 12px;
    font-family: 'Lato', 'Arial Narrow', sans-serif;
    font-size: 12px;
}

textarea {
    height: 150px;
}

input:focus, 
textarea:focus{
    background-color: #2eb398;
    color: #454545;
}

button {
    border: none;
    background-color: #2eb398;
    color: white;
    text-transform: uppercase;
    padding: 11.5px 28.5px;
    float: right;
    font-weight: 500;
    font-size: 12px;
}

button:hover {
    background-color: #fb4a20;
    cursor: pointer;
}

/*Contacts*/

.contacts-block {
    width: 215px;
    margin-top: -5px;
}

.contacts-block > p, .contacts {
    color: #bebebe;
    font-family: 'Lato', 'Arial Narrow', sans-serif;
    font-size: 12px;
    line-height: 1.8;
    padding-left: 20px;
    text-align: justify;
}

.contacts-bold-text {
    color: #e0e0e0;
    font-weight: 700;
}

.contacts {
    padding-top: 37px;
    margin-left: -3px;
}

.contacts > a {
    text-decoration: none;
    color: #bebebe;
}

.contacts > a:hover {
    color: #2eb398;
}


/*========FOOTER=========*/

footer {
    height: 40px;
    background: #222222;
}

footer > p {
    color: #454545;
    font-family: 'Maven Pro', 'Arial Narrow', sans-serif;
    font-size: 12px;
    padding: 10px 40px;

}


/*========FONT ICONS=========*/

@font-face {
    font-family: 'fontello';
    src: url('../assets/font/fontello.eot');
    src: url('../assets/font/fontello.eot?17009403#iefix') format('embedded-opentype'),
         url('../assets/font/fontello.woff2?17009403') format('woff2'),
         url('../assets/font/fontello.woff?17009403') format('woff'),
         url('../assets/font/fontello.ttf?17009403') format('truetype'),
         url('../assets/font/fontello.svg?17009403#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
   
  .icon-phone:before { content: '\e800'; } /* '' */
  .icon-mail:before { content: '\e801'; } /* '' */
  .icon-location-1:before { content: '\e802'; } /* '' */
  .icon-twitter:before { content: '\f099'; } /* '' */
  .icon-facebook:before { content: '\f09a'; } /* '' */
  .icon-linkedin:before { content: '\f0e1'; } /* '' */
  .icon-dribbble:before { content: '\f17d'; } /* '' */
  .icon-pinterest:before { content: '\f231'; } /* '' */
  .icon-gplus:before { content: '\f30f'; } /* '' */

  .contacts > i {
      color: #2eb398;
      margin-right: 10px;
  }
  